.color-primary{
    background-color: #4616c9;
}
.color-secondary{
    background-color: #f3f3f3;
}
.color-font{
    color: #632cac;
}
.button-hover:hover{
    background-color: #868dcc;
}
.active {
  background-color: #3a0a72; 
  color: white;
}
