.color-primary{
    background-color: #4616c9;
}
.color-secondary{
    background-color: #412377;
}
.color-font{
    color: #632cac;
}
.button-hover:hover{
    background-color: #3540a1;
}
.active {
  background-color: #50c57b; 
  color: white;
}
