.color-primary{
    background-color: #4616c9;
}
.color-secondary{
    background-color: #ce3173;
}
.color-font{
    color: #1a1dbe;
}
.button-hover:hover{
    background-color: #15803D;
}
.active {
  background-color: #50c57b; 
  color: white;
}
